---
import { Icon } from "astro-icon/components";
import Logo from "../../assets/Logo_RCI.svg";

const FooterLinks = [
  {
    title: "Compañia",
    items: [
      { href: "/nosotros", text: "Nosotros" },
      { href: "/servicios", text: "Servicios" },
      { href: "/blog", text: "Noticias" },
      { href: "/unete", text: "Únete" }
    ],
  },
  {
    title: "Servicios",
    items: [
      { href: "/instalacion-cctv", text: "Instalacion de CCTV" },
      { href: "/control-de-acceso", text: "Control de Acceso" },
      { href: "cableado-estructurado/", text: "Cableado Estructurado" },
      { href: "/deteccion-de-incendios", text: "Detección de Incendios" }
    ],
  },
  {
    title: "Links",
    items: [
      { href: "/", text: "Soporte" },
      { href: "/", text: "PQRs" },
      { href: "/", text: "Chatea en vivo" }
    ],
  },
];

const SocialLinks = [
  { href: "#", name: "Facebook", icon: "facebook" },
  { href: "https://www.instagram.com/rci_sas", name: "Instagram", icon: "instagram" },
  { href: "#", name: "LinkedIn", icon: "linkedin" },
];

const ContactInfo = [
  {
    type: "email",
    href: "mailto:proyectos@rcisas.com",
    text: "proyectos@rcisas.com",
    icon: "mail", // simplificado
  },
  {
    type: "phone",
    href: "tel:+573136775143",
    text: "+57 (313) 677 5143",
    icon: "telefono",
  },
  {
    type: "address",
    text: "CALLE 13 #25 - 1, TURBACO, BOLÍVAR",
    icon: "location",
  },
];
---

<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 pt-16 pb-6 sm:px-6 lg:px-8 lg:pt-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      
      <!-- Logo + descripción -->
      <div>
        <div class="flex justify-center sm:justify-start">
          <a href="/" class="hover:cursor-pointer hover:scale-105 transition">
            <Logo width={250} height={100} />
          </a>
        </div>

        <p class="font-body mt-6 max-w-md text-center leading-relaxed sm:max-w-xs sm:text-left">
         La seguridad empieza por la prevención.
        </p>

        <!-- Redes sociales -->
        <ul class="mt-8 flex justify-center gap-6 sm:justify-start md:gap-8">
          {SocialLinks.map((social) => (
            <li>
              <a
                href={social.href}
                rel="noreferrer"
                target="_blank"
                aria-label={social.name}
                class="text-main transition hover:text-main/75"
              >
                <Icon name={social.icon} size={30} />
              </a>
            </li>
          ))}
        </ul>
      </div>

      <!-- Links dinámicos -->
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2">
        {FooterLinks.map((section, i) => (
          <div class="text-center sm:text-left">
            <p class="text-lg font-heading font-medium text-gray-900">{section.title}</p>
            <ul class="mt-8 space-y-4 text-sm">
              {section.items.map((item, j) => (
                <li class="font-body">
                  <a
                    class="text-gray-700 transition hover:text-second"
                    href={item.href}
                  >
                    {item.text}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))}

        
        <!-- Contacto -->
<div class="text-center sm:text-left">
  <p class="text-lg font-medium font-heading text-gray-900">Contáctanos</p>

  <ul class="mt-8 space-y-4 text-sm">
    {ContactInfo.map((c, idx) => (
      <li 
        
        class="flex items-center font-body gap-2 justify-center sm:justify-start"
      >
        <!-- Icono -->
        <Icon 
          name={c.icon} 
          size={20} 
          class="text-gray-900 shrink-0" 
          aria-hidden="true"
        />

        <!-- Texto dinámico -->
        {c.href ? (
          <a 
            href={c.href} 
            aria-label={c.text} 
            class="flex-1 text-gray-700 transition hover:text-gray-700/75"
          >
            {c.text}
          </a>
        ) : (
          <address class="flex-1 text-gray-700 not-italic">
            {c.text}
          </address>
        )}
      </li>
    ))}
  </ul>
</div>

      </div>
    </div>

    <!-- Footer bottom -->
    <div class="mt-12 mx-auto flex flex-col items-center justify-between gap-4 md:flex-row">
      <p class="text-sm font-body">
        <span class="font-medium">RCI SAS © 2025. </span> Todos los derechos reservados.
      </p>

      <p class="text-center text-xs font-body md:text-left">
        <a href="https://sarpin.agency/" target="_blank" class="text-xs hover:text-amber-500">
          sarpin.agency
        </a>
      </p>

      <div class="flex gap-4 font-body">
        <a href="#" class="text-sm hover:text-main">Política de privacidad</a>
        <a href="#" class="text-sm hover:text-main">Términos y condiciones</a>
      </div>
    </div>
  </div>
</footer>
